@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>

@using Umbraco.Extensions

@using Clean.Core.Models.ViewModels
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels


@using Microsoft.AspNetCore.Http.Extensions
@using Umbraco.Cms.Web.Common.Models
@using Umbraco.Cms.Web.Website.Controllers

@{
    var isLoggedIn = Context.User?.Identity?.IsAuthenticated ?? false;
    var logoutModel = new PostRedirectModel();
    // You can modify this to redirect to a different URL instead of the current one
    logoutModel.RedirectUrl = null;
}

@{
    Layout = "master.cshtml";
}


@await Html.PartialAsync("~/Views/Partials/pageHeader.cshtml", new PageHeaderViewModel(Model.Name, Model.Title, Model.Subtitle, Model.MainImage))

<div class="px-6 py-4">
@if (Model.ContentRows != null)
{
   
 
                    @Html.GetBlockListHtml(Model.ContentRows)
              
   


}


        <script>
            $(document).ready(function () {
                 $('#viewallfollowers').click(function () {
                     {
                    $("#component-1").empty();
                    var _url = '@Url.Action("Products", "Home")';
                         $.ajax({
                             type: "GET",
                             url: _url,
                             data: { uid: $(this).prop("name") },
                             success: function (result) {
                            $("#component-1").html(result);
                             },
                         });
                     }
                 });
             });
        </script>
    

<h2 class="lg py-4">Components</h2>
    <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
        Button
    </button>

    <input id="viewallfollowers" type="button" value="button" name="Name" />


    <div id="component-1">

       

    @await Component.InvokeAsync("Products")
    </div>
</div>


