@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using Umbraco.Extensions
@using Clean.Core.Models.ViewModels
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@using Microsoft.AspNetCore.Http.Extensions
@using Umbraco.Cms.Web.Common.Models
@using Umbraco.Cms.Web.Website.Controllers

@{
    var isLoggedIn = Context.User?.Identity?.IsAuthenticated ?? false;
    var logoutModel = new PostRedirectModel();
    // You can modify this to redirect to a different URL instead of the current one
    logoutModel.RedirectUrl = null;
}

@{
    Layout = "master.cshtml";
}
@await Html.PartialAsync("~/Views/Partials/pageHeader.cshtml", new PageHeaderViewModel(Model.Name, Model.Title, Model.Subtitle, Model.MainImage))

<div class="px-6 py-4">
    @if (Model.ContentRows != null)
    {
        @Html.GetBlockListHtml(Model.ContentRows)
    }
    <h2 class="lg py-4">Components</h2>
    <input class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" id="refresh-button" type="button" value="button" name="Name" />

    <div id="product-list">
        @await Component.InvokeAsync("Products")
    </div>

    <script>
        function refreshProductList() {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        console.log('Fetching data');
                        document.getElementById('product-list').innerHTML = "<h1>new data</h1>" + xhr.responseText;
                    } else {
                        console.error('Error refreshing product list:', xhr.status);
                    }
                }
            };
            xhr.open('GET', '/Products'); // Endpoint to fetch updated product list
            xhr.send();
        }
        // Bind refresh function to button click event
        document.getElementById('refresh-button').addEventListener('click', refreshProductList);
    </script>
</div>


