@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Content>
@using Umbraco.Extensions

@using Clean.Core.Models.ViewModels
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels


@using Microsoft.AspNetCore.Http.Extensions
@using Umbraco.Cms.Web.Common.Models
@using Umbraco.Cms.Web.Website.Controllers



@{
    var isLoggedIn = Context.User?.Identity?.IsAuthenticated ?? false;
    var logoutModel = new PostRedirectModel();
    // You can modify this to redirect to a different URL instead of the current one
    logoutModel.RedirectUrl = null;
}

@{
    Layout = "master.cshtml";
}

@await Html.PartialAsync("~/Views/Partials/pageHeader.cshtml", new PageHeaderViewModel(Model.Name, Model.Title, Model.Subtitle, Model.MainImage))


<section class="section">
    <div class="container">
 
        <div class="col-md-9">
            <article>

                @if (isLoggedIn)
                {
                            <p>Now you are logged in</p>
                   
                }
                else
                {
                    @await Umbraco.RenderMacroAsync("Login")
                }
            </article>
        </div>
    </div>

</section>