@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


@{
    Layout = null;

    SmidgeHelper.RequiresCss("~/css/output.css");
    SmidgeHelper.RequiresJs("~/clean-assets/js/scripts.js");
}

<!DOCTYPE html>
<html lang="en">
<head>

    @await Html.PartialAsync("~/Views/Partials/metaData.cshtml")
    <!-- Font Awesome icons (free version)-->
    @* <script defer src="https://use.fontawesome.com/releases/v6.5.1/js/all.js" crossorigin="anonymous" integrity="sha384-3ve3u7etWcm2heCe4TswfZSAYSg2jR/EJxRHuKM5foOiKS8IJL/xRlvmjCaHELBz"></script> *@
    <!-- Google fonts-->
    <link rel="stylesheet preconnect" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&display=swap">
    <link rel="stylesheet preconnect" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&display=swap">
    <!-- Core theme CSS (includes Bootstrap)-->
    @await SmidgeHelper.CssHereAsync(debug: true)

</head>
<body class="bg-black-5 pt-20 lg:pt-30 antialiased leading-snug print:bg-white overflow-x-hidden print:pt-0 js">


    @await Html.PartialAsync("~/Views/Partials/mainNavigation.cshtml")
    <main class="container mx-auto" id="main">
        <div class="border-black border-x md:pb-5 print:border-0 border-b">
            @RenderBody()
        </div>
        @await Html.CachedPartialAsync("~/Views/Partials/footer.cshtml", model: Model, cacheTimeout: TimeSpan.FromMinutes(60))
    </main>

    @await SmidgeHelper.JsHereAsync(debug: false)

</body>
</html>
