@inherits UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels

@{
    var homePage = Model.AncestorOrSelf<ContentModels.Home>();
}

<!-- Footer-->
<footer>
    <div class="container px-4 py-4">

         @*        @if (homePage.SocialIconLinks != null && homePage.SocialIconLinks.Any())
                {
                    <ul class="list-inline text-center">
                        @Html.GetBlockListHtml(homePage.SocialIconLinks)
                    </ul>
                } *@
                <p >@Umbraco.GetDictionaryValue("Footer.CopyrightTitle") &copy; @DateTime.Now.Year @Umbraco.GetDictionaryValue("Footer.CopyrightStatement")</p>
               

    </div>
</footer>
