@inherits UmbracoViewPage<Clean.Core.Models.ViewModels.PageHeaderViewModel>





<h1 class="block font-display text-center leading-tight text-4xl md:text-4xl lg:text-4xl tracking-tight py-4 px-4 md:px-7 lg:pl-20 xl:pl-40 lg-pr-0 mb-10 max-w-5xl print:pl-0">@(!string.IsNullOrWhiteSpace(Model.Title) ? Model.Title : Model.Name)</h1>

                
                        @if (Model.HasSubtitle)
                        {
                            <h2 class="subheading mb-4">@Model.Subtitle</h2>
                        }
                       
                      
                    
 

 

